<div fxLayout="column" fxLayoutAlign="center" class="content">
    <span class="item about">
        <b>Magento PWA demo</b>
    </span>
    <span class="item grey">
        <span class="featured"><b> Featured Categories</b></span>

        <div fxLayout="row"  >
            <div class="card"  fxLayout="column"><img class="circle" src="../../../assets/images/cat-tops-test.jpg"> <b class="center">Blouses and Shirts</b></div>
            <div class="card"  fxLayout="column"><img  class="circle" src="../../../assets/images/cat-tops-test.jpg"> <b class="center">Dresses and Sundresses</b></div>
            <div class="card"  fxLayout="column"><img  class="circle"  src="../../../assets/images/cat-tops-test.jpg"> <b class="center">Belts, jweleries and scarves</b></div>
            <div class="card"  fxLayout="column"><img class="circle" src="../../../assets/images/cat-tops-test.jpg"> <b class="center">collections</b></div>
        </div>


    </span>
    <span class="item white">
        <span class="featured"><b> Featured Products</b></span>

                <div fxLayout="row">
                        <div class="square-card"  fxLayout="column"><img src="../../../assets/images/product-1-test.jpg"> <span class="center">Carina Cardigan</span><span class="center"><b>78$</b></span></div>
                        <div class="square-card"  fxLayout="column"><img src="../../../assets/images/product-1-test.jpg"> <span class="center">Juno sweater</span><span class="center"><b>78$</b></span></div>
                        <div class="square-card"  fxLayout="column"><img src="../../../assets/images/product-1-test.jpg"> <span class="center">Phobe cardigan</span><span class="center"><b>78$</b></span></div>
                        <div class="square-card"  fxLayout="column"><img src="../../../assets/images/product-1-test.jpg"> <span class="center">Rosalina Cardigan</span><span class="center"><b>78$</b></span></div>
                       
                    </div>
      


    </span>
</div>